In [2]:
import numpy as np
import pandas as pd
import math as m
import matplotlib.pyplot as plt
import glob
from datetime import timedelta

In [6]:
df = pd.read_csv('C:/Users/ale/Documents/Tec/PD sensor extracted data/PDdata/2021-03-15/PD_left.csv')
df['t'] = pd.to_datetime(df['t'])
df = df.drop(columns=['change'])
df.head()

                        t      x      y      z classification  arm_angle
0 2021-03-14 23:59:47.627 -1.056  0.256 -0.096           Wake  -5.048973
1 2021-03-14 23:59:47.667 -1.056  0.256 -0.096           Wake  -5.048973
2 2021-03-14 23:59:47.697 -1.056  0.256 -0.064           Wake  -3.370827
3 2021-03-14 23:59:47.737 -1.024  0.256 -0.096           Wake  -5.196802
4 2021-03-14 23:59:47.767 -1.056  0.256 -0.064           Wake  -3.370827

In [8]:
df['t'] = df['t'].astype('datetime64[s]')
df1 = df.groupby('t', as_index=False)['arm_angle'].mean()
x = df1.resample('5min', on='t').arm_angle.mean()
df2 = x.reset_index()
df2.head()

                    t  arm_angle
0 2021-03-14 23:55:00  -4.055758
1 2021-03-15 00:00:00  -4.026036
2 2021-03-15 00:05:00  -4.012065
3 2021-03-15 00:10:00  -4.016301
4 2021-03-15 00:15:00  -4.028930

In [14]:
change = []
for i in range(len(df2)):
    try:
        delta = df2['arm_angle'][i] - df2['arm_angle'][i-1]
        change.append(delta)
    except KeyError:
        change.append(np.nan)
df2['change'] = change

In [15]:
classification = []
for i in range(len(df2)):
    if abs(df2['change'].iloc[i]) > 5:
        classification.append('Wake')
    else:
        classification.append('Sleep')
print(classification)

['Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Wake', 'Wake', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Wake', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Wake', 'Wake', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Wake', 'Wake', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Wake', 'Wake', 'Wake', 'Wake', 'Sleep', 'Wake', 'Wake', 'Wake', 'Wake', 'Sleep', 'Sleep', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Sleep', 'Wake', 'Sleep', 'Wake', 'Wake', 'Sleep', 'Wake', 'Sleep', 'Wake', 'Sleep', 'Sleep', 'Wake', 'Wake', 'Wake', 'Sleep', 'Sleep', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Sleep', 'Wake', 'Wake', 'Wake', 'Wake', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Sleep', 'Wake', 'Wake', 'Wake', 'Sleep', 'Sleep', 'Wake', 'Sleep', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Wake', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Sleep', 'Wake', 'Wake', 'Wake', 'Sleep', 'Wake', 'Wake', 'Sleep', 'Wake', 'Sleep', 'Wake', 'Sleep', 'Wake', 'Wake', 'Sleep', 'Wake', 'Wake', 'Sleep', 'Wake', 'Sleep', 'Wake', 'Wake', 'Sleep', 'Wake', 'Wake', 'Sleep']